* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #17191a, #182b2e, #073f49);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 80%;
}
.container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  background-color: #00796b;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}

.chat-body {
  padding: 15px;
  height: 300px;
  overflow-y: auto;
  background: linear-gradient(180deg, #ffffff, #e0f7fa);
  border-top: 2px solid #00796b;
}


.user-message {
  margin: 10px 0;
  margin-right: 0px;
  padding: 10px;
  border-radius: 15px;
  max-width: 80%;
  display: inline-block;
  font-size: 1em;
  word-wrap: break-word;
  animation: fadeInUp 0.4s ease both;

  background-color: #80cbc4;
  color: #004d40;
  text-align: right;
  margin-left: auto;
}

.bot-message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  max-width: 80%;
  display: inline-block;
  font-size: 1em;
  word-wrap: break-word;
  animation: fadeInUp 0.4s ease both;

  background-color: #a5d6a7;
  color: #1b5e20;
}

.input-container {
  display: flex;
  padding: 15px;
  background-color: #004d40;
  border-top: 2px solid #00796b;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #e0f7fa;
  font-size: 1em;
  color: #004d40;
  transition: background-color 0.3s ease;
}

input[type="text"]:focus {
  background-color: #b2ebf2;
}

.send-btn {
  background-color: #00796b;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.send-btn:hover {
  background-color: #004d40;
  transform: scale(1.1);
}

.suggestions {
  margin: 5px 15px;
  background-color: #f1f8e9;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 150px; /* Limita a altura das sugestões */
  overflow-y: auto; /* Adiciona rolagem vertical */
  touch-action: pan-y; 
}
input[type="text"] {
  touch-action: manipulation; /* Evita problemas de interação com o teclado */
}
.suggestions div {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions div:hover {
  background-color: #a5d6a7;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
